<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletRegistro_Login</servlet-name>
        <servlet-class>controlador.ServletRegistro_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>controlador.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrito</servlet-name>
        <servlet-class>controlador.ServletCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controlador.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLineaController</servlet-name>
        <servlet-class>controlador.ServletLineaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFinalizarPedido</servlet-name>
        <servlet-class>controlador.ServletFinalizarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroFechas</servlet-name>
        <servlet-class>controlador.ServletFiltroFechas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFiltroUsers</servlet-name>
        <servlet-class>controlador.ServletFiltroUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlProductos</servlet-name>
        <servlet-class>controlador.ServletControlProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistro_Login</servlet-name>
        <url-pattern>/ServletRegistro_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrito</servlet-name>
        <url-pattern>/ServletCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLineaController</servlet-name>
        <url-pattern>/ServletLineaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFinalizarPedido</servlet-name>
        <url-pattern>/ServletFinalizarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroFechas</servlet-name>
        <url-pattern>/ServletFiltroFechas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFiltroUsers</servlet-name>
        <url-pattern>/ServletFiltroUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlProductos</servlet-name>
        <url-pattern>/ServletControlProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
